@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-spectrum-blue-50: #e7ecfe;
  --color-spectrum-blue-100: #ced9fd;
  --color-spectrum-blue-200: #93c5fd;
  --color-spectrum-blue-300: #6d8df8;
  --color-spectrum-blue-400: #3b82f6;
  --color-spectrum-blue-500: #0b42f4;
  --color-spectrum-blue-600: #0934c3;
  --color-spectrum-blue-700: #072792;
  --color-spectrum-blue-800: #051a61;
  --color-spectrum-blue-900: #020d31;
  --color-spectrum-blue-950: #020922;
  --color-spectrum-blue-1000: #0e1117;
  --font-sans: "Inter Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* body {
  background-color: var(--background-body-color);
  transition: color 0.5s ease-in-out;
}
body::-webkit-scrollbar {
  background: var(--background-body-color);
  width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--grey-color-scrollbar);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
} */

body {
  font-family: "Open Sans", sans-serif;
  /* background-color: #00000c; */
  color: #ffffff;
  scroll-behavior: smooth;
}

@utility btn-proyects {
  position: relative;
  width: 170px;
  padding: 15px 0;
  text-align: center;
  background: transparent;
  color: #fff;
  border-color: transparent;
  &:hover .border-top-bottom:before {
    width: 178px;
    transition: all 0.5s ease;
    box-shadow: #062899 0px 0px 12px;
  }
  &:hover .border-top-bottom:after {
    width: 178px;
    transition: all 0.5s ease;
    box-shadow: #062899 0px 0px 12px;
  }
  &:hover .border-left-right:before {
    height: 64px;
    transition: all 0.5s ease;
    box-shadow: #003cff 0px 0px 12px;
  }
  &:hover .border-left-right:after {
    height: 64px;
    transition: all 0.5s ease;
    box-shadow: #003cff 0px 0px 12px;
  }
}

@utility border-top-bottom {
  &:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    top: -6px;
    left: -7px;
    background: var(--color-spectrum-blue-700);
    transition: all 0.5s ease;
  }
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: -6px;
    right: -7px;
    background: var(--color-spectrum-blue-700);
    transition: all 0.5s ease;
  }
  .btn-proyects:hover &:before {
    width: 178px;
    transition: all 0.5s ease;
    box-shadow: var(--color-spectrum-blue-700) 0px 0px 12px;
  }

  .btn-proyects:hover &:after {
    width: 178px;
    transition: all 0.5s ease;
    box-shadow: var(--color-spectrum-blue-700) 0px 0px 12px;
  }
}

@utility border-left-right {
  &:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 3px;
    height: 25px;
    background: var(--color-spectrum-blue-700);
    transition: all 0.5s ease;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -7px;
    width: 3px;
    height: 25px;
    background: var(--color-spectrum-blue-700);
    transition: all 0.5s ease;
  }
  .btn-proyects:hover &:before {
    height: 64px;
    transition: all 0.5s ease;
    box-shadow: var(--color-spectrum-blue-300) 0px 0px 12px;
  }

  .btn-proyects:hover &:after {
    height: 64px;
    transition: all 0.5s ease;
    box-shadow: var(--color-spectrum-blue-300) 0px 0px 12px;
  }
}

@utility underline-links {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  transition: all 0.3s ease-in;
  color: #ffffff;
  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--color-spectrum-blue-700);
    width: 100%;
    height: 2px;
    transition: all 0.3s ease-in;
    transform: scale(0);
  }
  &:hover::after {
    transform: scale(1);
  }
  &:hover {
    color: var(--color-spectrum-blue-500);
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
    scroll-behavior: smooth;
  }
}
